<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>danh sách sinh viên</h1>
    <table>
      <thead>
        <tr>
          <td>id</td>
          <td>name</td>
        </tr>
      </thead>
      <tbody>
        <% sinhviens.forEach(function(sinhvien){%>
        <tr>
          <td><%= sinhvien.id%></td>
          <td></td>
          <td><%= sinhvien.name%></td>
        </tr>

        <%}); %>>
      </tbody>
    </table>
  </body>
</html>
